body {
  width: 1100px;
  height: 3028px;
}

header {
  height: 293px;
  display: flex;
}
.p_one {
  margin-left: 51px;
  text-decoration: none;
}
.header_left a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.header_left{
  display: flex;
  height: 23px;
  margin-top: 137px;
}


.circle_one {
  margin-left: 13px;
  margin-top:-3px;
}

.p_two {
  margin-left: 12px;
  margin-top: -1px;
  text-decoration: none;
  position: relative;
}
.p_two::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px; 
  width: 100%;
  height: 1px; 
  background-color: black;
}
.circle_two {
  margin-left: 15px;
  margin-top:-3px;
}
.p_three {
  margin-left: 12px;
  text-decoration: none;
  position: relative;
  margin-top: 0px;
  width: 110px;
}
.p_three::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px; 
  width: 100%;
  height: 1px; 
  background-color: black;
}
.image_header {
  background-image: url("../images/logo-black.svg");
  width:148px;
  height: 105px;
  background-repeat: no-repeat;
  margin-left:42px;
  margin-top: 92px;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 168px;
  margin-top: 97px;
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 18px;
  font-style: normal; 
  text-decoration: none;
}

.phone_number_header {
  margin-top: 2px;
  margin-left: 10px;
  text-decoration: none;
  position: relative;
}
.phone_number_header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 130px;
  height: 1px; 
  background-color: black;
}
.mail_header {
  margin-top: 3px;
  margin-left: 10px;
  text-decoration: none;
  position: relative;
}

.mail_header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 130px;
  height: 1px; 
  background-color: black;
}
.address_header {
  margin-top: 4px;
  margin-left: 10px;
  text-wrap: wrap;
  text-decoration: none;
  
}
.address_header_ {
  margin-top: 3px;
  margin-left: 9px;
  text-decoration: none;
}
.image_cover {
  background-image: url("../images/cover.jpg");
  width: 1100px;
  height: 757px;
  position: relative;
  display: inline-block;
}

.words {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
}

.one_words {
  top: 0;
  left: 0;
  margin-top: 164px;
  margin-left: 51px;
  
}

.letter_one {
  letter-spacing: 29px;
}
.letter_two {
  letter-spacing: 60px;
}
.two_words {
  top: 0;
  margin-top: 291px;
  margin-left: 1px;
}
.letter_four {
  letter-spacing: 31px;
  margin-left: 335px;
}
.letter_five {
  letter-spacing: 30px;
}
.letter_six {
  letter-spacing: 59px;
}

.three_words {
  top: 0;
  margin-top: 411px;
  margin-left: 634px;
}
.letter_eight {
  letter-spacing: 61px;
}
.letter_nine {
  letter-spacing: 30px;
}
.letter_ten {
  letter-spacing: 30px;
}
.h1_cover {
  display: flex;
}
.h1_words {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: white;
  margin-top: 668px;
  margin-left: 79px;
  word-spacing: 17px;
  width: 635px;
  flex-direction: row;
}
.h1_words_three{
  margin-left: 3px;
}

.h1_words_last {
  margin-left: 3px;
  flex-direction: row;
  width: 30px;
}

.button_cover {
  position: absolute;
  background-color: transparent;
  border: 1px solid white;
  width: 257px;
  height: 52px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0px;
  flex-direction: row;
  margin-top: 654px;
  margin-left: 793px;
}
.lots {
  margin-top: 180px;
  height: 800px;
}
.lots_title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 64px;
}

.lots_card {
  display: flex;
  flex-direction: row;
  margin-top: 27px;
}
.lots_flex {
  margin-left: 25px;
}
.lots_card_one {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  width: 334px;
  height: 563px;
  margin-left: 24px;
}
.lots_card_two {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 563px;
  
}
.lots_card_three {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  width: 334px;
  height: 563px;
  background-size: contain;
}

.title_card_one_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  height: 52px;
  width: 350px;
}
.text_card_one {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 269px;
  margin-left: 40px;
}
.title_card_two_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
}
.text_card_two {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 0px;
  margin-left: 40px;
}
.title_card_three_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
}
.text_card_three {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 96px;
  margin-left: 40px;
}
.lots_more {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;

}
.lots_more::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 100%;
  height: 1px; 
  background-color: black;
}

.about {
  height: 700px;
  margin-top: 25px;
}
.about_one{
  display: flex;
}
.circle_about {
  background-image: url("../images/circle_about.svg");
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin-top: 48px;
  margin-left: 71px;
  flex-direction: row;
}
.image_about {
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  margin-left: 46px;
  margin-top: 63px;
  width: 148px;
  height: 114px;
  position: absolute;
  flex-direction: row;
}
.text_about {
  height: 236px;
  flex-direction: row;
  width: 500px;
}
.about_h3 {
  margin-left: 71px;
  margin-top: 147px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
}
.about_text_one {
  margin-top: 7px;
  margin-left: 384px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  
}
.about_text_two {
  margin-top: 24px;
  margin-left: 383px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer_address {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 240px;
}
.footer_address_ {
  display: flex;
  flex-direction: column;
}

.phone_number_footer {
  text-decoration: underline;
  width: 240px;
  margin-top: 90px;
  margin-left: 49px;
}
.mail_footer {
  text-decoration: underline;
  width: 240px;
  margin-top: 3px;
  margin-left: 48px;
}
.address_footer {
  width: 240px;
  margin-top: 3px;
  margin-left: 49px;
}
.address_footer_ {
  width: 240px;
  margin-top: 3px;
  margin-left: 49px;
}
.footer_center_text {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-left: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.footer_center_one {
  margin-left: 31px;
}
.footer_center_two {
  text-decoration: underline;
  margin-left: -11px;
}
.footer_center_three {
  margin-left: 20px;
  text-decoration: underline;
  margin-left: 9px;
}
.footer_channel {
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
}
.youtube {
  background-image: url("../images/yt.svg");
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-top: 88px;
  margin-left: 78px;
}
.vk {
  background-image: url("../images/vk.svg");
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 87px;
}
.pinterest {
  background-image: url("../images/pinterest.svg");
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 88px;
}
