body {
  width: 1100px;
  height: 3028px;
}

header {
  height: 293px;
  display: flex;
}
.p_one {
  margin-left: 21px;
  text-decoration: none;
}
.header_left li {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
  display: inline;  
}
.custom-circle-list li {
  position: relative;
  padding-left: 30px; 
}
.custom-circle-list li:nth-child(2)::before{
  content: '';
  position: absolute;
  left: 11px; 
  top: 50%;
  transform: translateY(-50%);
  width: 6px; 
  height: 6px; 
  border: 1px solid black; 
  border-radius: 50%; 
  background-color: white; 
  box-sizing: border-box; 
}
.custom-circle-list li:nth-child(3)::before {
    content: '';
    position: absolute;
    left: 11px; 
    top: 50%;
    transform: translateY(-50%);
    width: 6px; 
    height: 6px; 
    border: 1px solid black; 
    border-radius: 50%; 
    background-color: white; 
    box-sizing: border-box; 
}
.header_left{
  height: 23px;
  margin-top: 137px;
  position: relative;
}

.p_two {
  margin-left: 0px;
  margin-top: -1px;
  text-decoration: none;
  position: relative;
}
.p_two::after {
  content: '';
  left: 29px;
  bottom: 0px; 
  width: 151px;
  height: 1px; 
  background-color: black;
  position: absolute;
}

.p_three {
  margin-left: -1px;
  text-decoration: none;
  position: relative;
  margin-top: 0px;
  width: 110px;
}
.p_three::after {
  content: '';
  position: absolute;
  left: 29px;
  bottom: 0px; 
  width: 110px;
  height: 1px; 
  background-color: black;
}

.p_two li:nth-child(2)::before,
.p_three li:nth-child(3)::before {
    content: '';
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    border: 1px solid black;
    border-radius: 50%; 
    background-color: black; 
    
}

.image_container_link{
  display: block;
  margin-left:42px;
  margin-top: 92px;
  background-image: url("../images/logo-black.svg");
  width:134px;
  height: 105px;
  background-repeat: no-repeat;
  background-size: cover; 
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: 168px;
  margin-top: 97px;
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 18px;
  font-style: normal; 
  text-decoration: none;
}

.phone_number_header {
  margin-top: 2px;
  margin-left: 27px;
  text-decoration: none;
  position: relative;
}
.phone_number_header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 130px;
  height: 1px; 
  background-color: black;
}
.mail_header {
  margin-top: 3px;
  margin-left: 26px;
  text-decoration: none;
  position: relative;
}

.mail_header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 130px;
  height: 1px; 
  background-color: black;
}
.address_header {
  margin-top: 4px;
  margin-left: 26px;
  text-wrap: wrap;
  text-decoration: none;
  
}

.cover {
  background-image: url("../images/cover.jpg");
  width: 1100px;
  height: 757px;
  position: relative;
  display: inline-block;
}
.cover_overlay{
  width: 1100px;
  height: 757px;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5); 
  
}
.words {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: bold;
  position: relative;
}

.one_words {
  top: 0;
  left: 0;
  margin-top: 164px;
  margin-left: 51px;
}

.letter_one {
  letter-spacing: 6px;
}
.letter_two {
  letter-spacing: 35px;
  text-transform: uppercase;
}
.letter_three {
  text-transform: uppercase;
}
.second_word {
  top: 0;
  margin-top: 10px;
  margin-left: 284px;
  width: 370px;
 
}
.letter_four {
  letter-spacing: 7px;
  margin-right: 0px;
  text-transform: uppercase;
}
.letter_five {
  letter-spacing: 6px;
  text-transform: uppercase;
}
.letter_six {
  letter-spacing: 36px;
  text-transform: uppercase;
}
.letter_seven {
  letter-spacing: 0px;
  text-transform: uppercase;
}
.third_word {
  top: 0;
  width: 490px;
  margin-left: 583px;
  margin-top:3px;
}

.letter_eight {
  letter-spacing: 36px;
  text-transform: uppercase;
}
.letter_nine {
  letter-spacing: 6px;
  text-transform: uppercase;
}
.letter_ten {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.letter_last {
  letter-spacing: 0px;
  text-transform: uppercase;
}

.p_cover {
  display: flex;
  margin-top: 0px;
  margin-left: 0px;

}

.p_words {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: white;
  word-spacing: 17px;
  width: 635px;
  flex-direction: row;
  margin-top: 141px;
  margin-left: 78px;
}

.p1_words_three{
  margin-left: 3px;
}

.p1_words_last {
  margin-left: 3px;
  flex-direction: row;
  width: 30px;
}

.button_cover {
  background-color: transparent;
  border: 1px solid white;
  width: 257px;
  height: 52px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 127px;
  margin-left: 80px;
  flex-direction: row;
}

.lots {
  margin-top: 180px;
  height: 800px;
}

.lots_title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 64px;
}

.lots_card {
  display: flex;
  flex-direction: row;
  margin-top: 27px;
  list-style-type: none;
}
.lots_flex {
  margin-left: 25px;
}
.lots_card_one {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  width: 334px;
  height: 563px;
  margin-left: 24px;
}
.lots_card_one_overlay{
  width: 334px;
  height: 563px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  position: absolute;
  margin-top: 0px;
}
.a_lots_card_one{
  text-decoration: none;
}
.lots_card_two {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 334px;
  height: 563px;
  
}
.lots_card_two_overlay{
  width: 334px;
  height: 563px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  position: absolute;
  margin-top: 0px;
}
.a_lots_card_two{
  text-decoration: none;
}
.lots_card_three {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  width: 334px;
  height: 563px;
  background-size: contain;
}

.lots_card_three_overlay{
  width: 334px;
  height: 563px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  position: absolute;
  margin-top: 0px;
}
.a_lots_card_three{
  text-decoration: none;
}
.title_card_one_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  height: 52px;
  width: 350px;
}
.text_card_one {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 269px;
  margin-left: 40px;
}

.title_card_two_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  
}
.text_card_one h4{
  text-decoration: none;
}

.text_card_two {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 0px;
  margin-left: 40px;
 }

.title_card_three_text {
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
}
.text_card_three {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-top: 96px;
  margin-left: 40px;
  text-decoration: none;
}
.lots_more {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 30px;
  margin-left: 64px;
  position: absolute;

}
.lots_more::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 100%;
  height: 1px; 
  background-color: black;
}

.about {
  height: 700px;
  margin-top: 25px;
}
.about_one{
  display: flex;
}
.circle_about {
  background-image: url("../images/circle_about.svg");
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin-top: 48px;
  margin-left: 71px;
  flex-direction: row;
}
.image_about {
  background-image: url("../images/logo-white.svg");
  background-repeat: no-repeat;
  margin-left: 46px;
  margin-top: 63px;
  width: 148px;
  height: 114px;
  position: absolute;
  flex-direction: row;
}
.text_about {
  height: 236px;
  flex-direction: row;
  width: 500px;
}
.about_h2 {
  margin-left: 71px;
  margin-top: 147px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
}
.about_text_all{
  gap:23px;
  margin-left: 383px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.about_text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer_address_ {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 240px;
}
.footer_address_ {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.phone_number_footer {
  text-decoration: underline;
  width: 240px;
  margin-top: 90px;
  margin-left: 49px;
}
.mail_footer {
  text-decoration: underline;
  width: 240px;
  margin-top: 3px;
  margin-left: 48px;
}
.address_footer {
  width: 240px;
  margin-top: 3px;
  margin-left: 49px;
}

.footer_center_text {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-left: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.footer_center_text_li{
  list-style-type: none; 
}
.footer_center_one {
  margin-left: 31px;
  text-decoration: none;
}
.footer_center_two {
  text-decoration: underline;
  margin-left: -11px;
}
.footer_center_three {
  margin-left: 20px;
  text-decoration: underline;
  margin-left: 9px;
}
.footer_channel {
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
  list-style-type: none; 

}
.youtube {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-top: 88px;
  margin-left: 78px;
}
.vk {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 87px;
}
.pinterest {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  margin-left: 48px;
  margin-top: 88px;
}